<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <h1>
              Add Property
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <label ng-show="loginError" class="control-label has-error">{{addPropertyError}}</label>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
                <form name="addPropertyForm" novalidate>
                <div class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="artifact" class="col-lg-4 control-label">Artifact</label>
                            <div class="col-lg-8">
                                <input ng-model="propertyDetails.artifactId" type="text" class="form-control" id="artifact" name="artifact" placeholder="Artifact ID" required>
                                <label ng-show="addPropertyForm.artifact.$invalid && !addPropertyForm.artifact.$pristine" class="control-label has-error" style="color: #D32A0E">Enter proper artifact</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="release" class="col-lg-4 control-label">Release</label>
                            <div class="col-lg-8">
                                <div class="custom-dropdown">
                                    <input name="release" type="text" id="release" readonly="readonly" data-validation="required" class="form-control" ng-model="selectedRelease">
                                    <i class="arrow dropdown-toggle" data-toggle="dropdown" aria-expanded="true"></i>
                                    <ul class="dropdown-menu" style="height: auto; max-height: 200px; overflow-x: hidden">
                                        <li ng-repeat="release in releases" ng-click="onSelectRelease(release)"><a href="">{{release}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sprint" class="col-lg-4 control-label">Sprint</label>
                            <div class="col-lg-8">
                                <div class="custom-dropdown">
                                    <input name="sprint" type="text" id="sprint" readonly="readonly" data-validation="required" class="form-control" ng-model="selectedSprint">
                                    <i class="arrow dropdown-toggle" data-toggle="dropdown" aria-expanded="true"></i>
                                    <ul class="dropdown-menu" style="height: auto; max-height: 200px; overflow-x: hidden">
                                        <li ng-repeat="sprint in sprints" ng-click="onSelectSprint(sprint)"><a href="">{{sprint}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">File</label>
                            <div class="col-lg-8">
                                <div class="custom-dropdown">
                                    <input name="fileName" type="text"  readonly="readonly" data-validation="required" class="form-control" ng-model="selectedFileName">
                                    <i class="arrow dropdown-toggle" data-toggle="dropdown" aria-expanded="true"></i>
                                    <ul class="dropdown-menu" style="height: auto; max-height: 200px; overflow-x: hidden">
                                        <li ng-repeat="fileName in fileNames" ng-click="onSelectFileName(fileName)"><a href="">{{fileName}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="properties" class="col-lg-4 control-label">Properties</label>
                            <div class="col-lg-8">
                                <textarea id="properties" name="properties" rows="4" placeholder="comma separated properties list" ng-model="propertyDetails.properties" style="width:100%;" required></textarea>
                                <label ng-show="addPropertyForm.properties.$invalid && !addPropertyForm.properties.$pristine" class="control-label has-error" style="color: #D32A0E">Enter at least one property</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-4">
                                <button class="btn btn-default" type="submit" ng-click="cancel()">Cancel</button>
                                <button class="btn btn-default" type="submit" ng-click="save(propertyDetails)">Save</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>