<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <h1>
              Delete Property
            </h1>
        </div>
    </div>
</div>
<div class="section" ng-hide="!!!propertyKeys.length">
    <div class="container">
        <div class="col-md-12">
            <div class="row" ng-repeat="key in propertyKeys">
                <div class="checkbox-wrap">
                    <input id="{{key}}" type="checkbox" class="checkbox" value="{{key}}"
                    ng-checked="keysToDelete.indexOf(key) > -1" ng-click="toggleSelection(key)">
                    <label for="{{key}}" class="checkbox-label">
                        <i></i>{{key}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" ng-hide="!!!propertyKeys.length">
    <div class="container">
        <button class="btn btn-default" type="submit" ng-click="deleteKeys()">Delete</button>
    </div>
</div>
<div class="section" ng-show="!!!propertyKeys.length">
    <div class="container">
        <div class="row">
            No properties have been added by you to delete.
        </div>
    </div>
</div>

