<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <h1>
              Download
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <a href="" ng-csv="prepareProperties" csv-header="getHeader()" filename="download_test.csv" field-separator=","
               decimal-separator="." quote-strings='"'>Download to CSV</a>
        </div>
        <div class="row">
            <a ng-href="{{propertyURL}}">Download to properties file</a>
        </div>
    </div>
</div>