<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <h1>
              Import
            </h1>
        </div>
    </div>
</div>
<div class="container" ng-show="!showAlert">
    <div class="row">
        <label ng-show="importError" class="control-label has-error">importError</label>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="file" placeholder="upload" required autofocus multiple ng-model="upload" ng-file-select="onFileSelect($files)">
        </div>
    </div>
</div>
<div class="container" ng-show="showAlert">
    <div class="col-lg-12">
        <div class="row well bs-component">
            <div class="col-md-12 col-xs-12 col-lg-8 col-lg-offset-2">
                {{alertMsg}}
            </div>
        </div>
    </div>
</div>