<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <h1>
              Profile
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <a href="#/add_property">Add properties</a>
        </div>
        <div class="row">
            <a href="#/delete">Delete properties</a>
        </div>
        <div class="row">
            <a href="#/import">Upload</a>
        </div>
        <div class="row">
            <a href="#/download">Download</a>
        </div>
        <div class="row">
            <a href="#/show">Show properties</a>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <label ng-show="loginError" class="control-label has-error">{{loginError}}</label>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <form role="form" name="loginForm" novalidate>
            <fieldset>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" id="email" name="email" ng-model="user.email" required ng-maxlength=70 autofocus>
                    <div class="form-group has-error">
                        <label ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="control-label has-error">Enter proper email address</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="password" name="password" ng-model="user.password" required ng-maxlength=70>
                    <div class="form-group has-error">
                        <label ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="control-label has-error">password can not be empty</label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(user)" ng-disabled="loginForm.$invalid || isUnchanged(user)">Login</button>
                </div>
            </fieldset>
        </form>
        </div>
    </div>
</div> -->