<style>
    #properties{
        overflow-x:scroll;
        overflow-y:hidden;
        white-space:nowrap;
    }
    #property-row > .row [class*="col-lg"] {
        float:none;
        display:inline-block;
    }
    .horizontal-separator{
        border-bottom: 1px solid #dddddd;
    }
</style>
<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <h1>
              List of properties
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-12" ng-show="showAlertMsg">
        <div class="row well bs-component">
            <div class="col-md-12 col-xs-12 col-lg-8 col-lg-offset-2">
                {{alertMsg}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-6 form-horizontal">
                <div class="form-group">
                    <label ng-click="showFilters=!showFilters" for="from" class="control-label"><a href="">Toggle filters </a></label>
                </div>
            </div>
            <div class="col-lg-6 form-horizontal">
                <div class="form-group">
                    <button class="btn-default" type="submit" ng-click="saveEdits()" style="float:right;">Save edits</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-5 form-horizontal">
                    <div class="form-group">
                        <label for="from" class="col-lg-3 control-label">From: </label>
                        <div class="col-lg-9">
                            <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtFrom" ng-change="onDateChanged(dtFrom, dtTo)" is-open="fromOpened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" id="from" name="from" placeholder="From date">
                            <span class="input-group-btn">
                                <button type="button" class="btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="to" class="col-lg-2 control-label">To: </label>
                            <div class="col-lg-9">
                                <p class="input-group">
                                <input type="text" class="form-control" id="to" name="to" datepicker-popup="{{format}}" ng-model="dtTo" is-open="toOpened" datepicker-options="dateOptions" ng-change="onDateChanged(dtFrom, dtTo)" date-disabled="disabled(date, mode)" close-text="Close" placeholder="To date">
                                <span class="input-group-btn">
                                    <button type="button" class="btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-2">
                    <!-- Uncomment the below commented and comment out the current one to have download functionality working in safari-->
                    <button lazy-load="true" class="btn-default" ng-csv="prepareProperties(filteredProperties)" csv-header="getHeader()" filename="download_test.csv" field-separator="," decimal-separator="." type="submit" >
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                    <!-- <button class="btn btn-default btn-sm" ng-click="prepareProperties(filteredProperties)" type="submit" >
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button> -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row"> -->
    <!-- <div class="container-fluid"> -->
        <div class="container" id="properties">
            <!-- <div ng-repeat="property in properties" ></div> -->
                <div id="property-row">
                    <div ng-show="showFilters" class="row">
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="key" placeholder="key" ng-model="search.property_key">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value English" placeholder="Value English" ng-model="search.value_en">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value Thai" placeholder="Value Thai" ng-model="search.value_th">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value Arabic" placeholder="Value Arabic" ng-model="search.value_ar">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value Russian" placeholder="Value Russian" ng-model="search.value_ru">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value Danish" placeholder="Value Danish" ng-model="search.value_da">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value Dutch" placeholder="Value Dutch" ng-model="search.value_nl">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value Finnish" placeholder="Value Finnish" ng-model="search.value_fi">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value French" placeholder="Value French" ng-model="search.value_fr">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value German" placeholder="Value French" ng-model="search.value_de">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value Greek" placeholder="Value German" ng-model="search.value_el">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value Italian" placeholder="Value Greek" ng-model="search.value_it">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value Norwegian" placeholder="Value Italian" ng-model="search.value_nb">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value Swedish" placeholder="Value Norwegian" ng-model="search.value_sv">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Value Turkish" placeholder="Value Russian" ng-model="search.value_tr">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Release" placeholder="Release" ng-model="search.proj_release">
                        </div>
                    </div>
                    <div class="horizontal-separator"></div>
                    <div class="row">
                        <div class="col-lg-4"><h3>Key</h3></div>
                        <div class="col-lg-4"><h3>Value_en</h3></div>
                        <div class="col-lg-4"><h3>value_th</h3></div>
                        <div class="col-lg-4"><h3>value_ar</h3></div>
                        <div class="col-lg-4"><h3>value_ru</h3></div>
                        <div class="col-lg-4"><h3>value_da</h3></div>
                        <div class="col-lg-4"><h3>value_nl</h3></div>
                        <div class="col-lg-4"><h3>value_fi</h3></div>
                        <div class="col-lg-4"><h3>value_fr</h3></div>
                        <div class="col-lg-4"><h3>value_de</h3></div>
                        <div class="col-lg-4"><h3>value_el</h3></div>
                        <div class="col-lg-4"><h3>value_it</h3></div>
                        <div class="col-lg-4"><h3>value_nb</h3></div>
                        <div class="col-lg-4"><h3>value_sv</h3></div>
                        <div class="col-lg-4"><h3>value_tr</h3></div>
                        <div class="col-lg-4"><h3>release</h3></div>
                        <div class="col-lg-4"><h3>created on</h3></div>
                        <div class="col-lg-4" ng-click="reverseSortOrder()">modified on</div>
                    </div>

                    <div ng-repeat="property in filteredProperties=(shownProperties | orderBy: 'modified_on':reverse | filter: search | startFrom: currentPage*pageSize | limitTo: pageSize)" class="row" ng-include src="'templates/properties_list_row.html'">
                    </div>
                </div>
        </div>
        <div class="form-group">
            <div class="col-lg-7 col-lg-offset-5">
                <button class="btn-default" type="submit" ng-click="currentPage=currentPage-1" >Previous</button>
                <button class="btn-default" type="submit" ng-click="currentPage=currentPage+1" ng-disabled="addressForm.$invalid || isUnchanged(address)">Next</button>
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->