<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <h1>
              Wiki
            </h1>
        </div>
    </div>
</div>
<div class="section" style="height:400px;">
    <div class="container">
        <div text-angular ng-model="articleNotes" ng-change="updateContents()"></div>
        <!--<text-angular ng-model="htmlVariable" ng-change="updateContents()"></text-angular>-->
    </div>
</div>
<!--
<div class="section">
    <div class="container">
        {{htmlVariable}}
    </div>
</div>-->
