<div class="col-lg-4" style="overflow-x:hidden" ng-click="editMode[$index]=1">
    <div>{{property.property_key}}</div>
</div>
<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==1" ng-click="editMode[$index]=1">
    <div>{{property.value_en? property.value_en: "value_en"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==1">
    <input ng-blur="onBlur(property,'en')" ng-model="property.value_en" type="text" class="form-control" placeholder="value_en">
</div>
<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==2" ng-click="editMode[$index]=2">
    <div>{{property.value_th? property.value_th: "value_th"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==2">
    <input ng-blur="onBlur(property, 'th')" ng-model="property.value_th" type="text" class="form-control" placeholder="value_th">
</div>
<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==3" ng-click="editMode[$index]=3" >
    <div>{{property.value_ar? property.value_ar: "value_ar"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==3">
    <input ng-blur="onBlur(property, 'ru')" ng-model="property.value_ar" type="text" class="form-control" placeholder="value_ar">
</div>
<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==4" ng-click="editMode[$index]=4" >
    <div>{{property.value_ru? property.value_ru: "value_ru"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==4">
    <input ng-blur="onBlur(property, 'ru')" ng-model="property.value_ru" type="text" class="form-control" placeholder="value_ru">
</div>
<div class="col-lg-4" style="overflow-x:hidden">
    <div>{{property.proj_release? property.proj_release: "release"}}</div>
</div>
<div class="col-lg-4" style="overflow-x:hidden">
    <div>{{property.created_on}}</div>
</div>
<div class="col-lg-4" style="overflow-x:hidden">
    <div>{{property.modified_on}}</div>
</div>