<div class="col-lg-4" style="overflow-x:hidden" ng-click="editMode[$index]=1">
    <div>{{property.property_key}}</div>
</div>
<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==1" ng-click="editMode[$index]=1">
    <div>{{property.value_en? property.value_en: "value_en"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==1">
    <input ng-blur="onBlur(property,'en')" ng-model="property.value_en" type="text" class="form-control" placeholder="value_en">
</div>
<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==2" ng-click="editMode[$index]=2">
    <div>{{property.value_th? property.value_th: "value_th"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==2">
    <input ng-blur="onBlur(property, 'th')" ng-model="property.value_th" type="text" class="form-control" placeholder="value_th">
</div>
<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==3" ng-click="editMode[$index]=3" >
    <div>{{property.value_ar? property.value_ar: "value_ar"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==3">
    <input ng-blur="onBlur(property, 'ru')" ng-model="property.value_ar" type="text" class="form-control" placeholder="value_ar">
</div>
<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==4" ng-click="editMode[$index]=4" >
    <div>{{property.value_ru? property.value_ru: "value_ru"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==4">
    <input ng-blur="onBlur(property, 'ru')" ng-model="property.value_ru" type="text" class="form-control" placeholder="value_ru">
</div>

<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==5" ng-click="editMode[$index]=5" >
    <div>{{property.value_da? property.value_da: "value_da"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==5">
    <input ng-blur="onBlur(property, 'da')" ng-model="property.value_da" type="text" class="form-control" placeholder="value_da">
</div>

<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==6" ng-click="editMode[$index]=6" >
    <div>{{property.value_nl? property.value_nl: "value_nl"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==6">
    <input ng-blur="onBlur(property, 'nl')" ng-model="property.value_nl" type="text" class="form-control" placeholder="value_nl">
</div>

<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==7" ng-click="editMode[$index]=7">
    <div>{{property.value_fr? property.value_fi: "value_fi"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==7">
    <input ng-blur="onBlur(property, 'fi')" ng-model="property.value_fi" type="text" class="form-control" placeholder="value_fi">
</div>

<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==8" ng-click="editMode[$index]=8" >
    <div>{{property.value_fr? property.value_fr: "value_fr"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==8">
    <input ng-blur="onBlur(property, 'fr')" ng-model="property.value_fr" type="text" class="form-control" placeholder="value_fr">
</div>

<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==9" ng-click="editMode[$index]=9" >
    <div>{{property.value_de? property.value_de: "value_de"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==9">
    <input ng-blur="onBlur(property, 'de')" ng-model="property.value_de" type="text" class="form-control" placeholder="value_de">
</div>

<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==10" ng-click="editMode[$index]=10" >
    <div>{{property.value_el? property.value_el: "value_el"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==10">
    <input ng-blur="onBlur(property, 'el')" ng-model="property.value_el" type="text" class="form-control" placeholder="value_el">
</div>

<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==11" ng-click="editMode[$index]=11" >
    <div>{{property.value_it? property.value_it: "value_it"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==11">
    <input ng-blur="onBlur(property, 'it')" ng-model="property.value_it" type="text" class="form-control" placeholder="value_it">
</div>

<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==12" ng-click="editMode[$index]=12" >
    <div>{{property.value_nb? property.value_nb: "value_nb"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==12">
    <input ng-blur="onBlur(property, 'nb')" ng-model="property.value_nb" type="text" class="form-control" placeholder="value_nb">
</div>

<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==13" ng-click="editMode[$index]=13" >
    <div>{{property.value_sv? property.value_sv: "value_sv"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==13">
    <input ng-blur="onBlur(property, 'sv')" ng-model="property.value_sv" type="text" class="form-control" placeholder="value_sv">
</div>

<div class="col-lg-4" style="overflow-x:hidden" ng-hide="editMode[$index]==14" ng-click="editMode[$index]=14" >
    <div>{{property.value_tr? property.value_tr: "value_tr"}}</div>
</div>
<div class="col-lg-4" ng-show="editMode[$index]==14">
    <input ng-blur="onBlur(property, 'tr')" ng-model="property.value_tr" type="text" class="form-control" placeholder="value_ru">
</div>

<div class="col-lg-4" style="overflow-x:hidden">
    <div>{{property.proj_release? property.proj_release: "release"}}</div>
</div>
<div class="col-lg-4" style="overflow-x:hidden">
    <div>{{property.created_on}}</div>
</div>
<div class="col-lg-4" style="overflow-x:hidden">
    <div>{{property.modified_on}}</div>
</div>