<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" /> -->
    <link rel="stylesheet" type="text/css" href="styles/theme.css">
    <link rel="stylesheet" type="text/css" href="styles/vendor.css">
    <link rel="stylesheet" type="text/css" href="styles/theme.css" />


    <!--<link rel="stylesheet" type="text/css" href="styles/vendor" />-->
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/vendor/textAngular.css" />




  </head>
  <body ng-app="acePropManagerApp" style="padding-bottom:100px;">

    <!-- Add your site or application content here -->
    <div id="wrapper">
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">acePropManager</a>
          </div>

          <div ng-controller="GlobalCtrl" class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li><a href="#/login">Login</a></li>
              <li><a href="#/show">Show properties</a></li>
              <li><a href="#/import">Upload</a></li>
              <li><a href="#/download">Download</a></li>
              <li><a href="#/profile">Profile</a></li>
              <li><a href="#/wiki">Wiki</a></li>
              <!-- <li><a ng-href="#/logout">logout</a></li> -->
              <!-- <li><a ng-href="#/">Contact</a></li> -->
            </ul>
            <ul class="nav navbar-top-links navbar-right">
              <li><a href="" ng-click="logout()" ng-show="globalUser.first_name"><i class="fa fa-sign-out fa-fw"></i> Not {{globalUser.first_name}}?</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="app-alert col-lg-4 col-xs-12 col-md-4 col-md-offset-4 col-lg-offset-2" id="app-alert" ng-show="showAlert" style="z-index: 2000;position: fixed;opacity: 1;">
        <div ng-include src="'views/alert.html'">
        </div>
    </div>

    <!-- <div class="container"> -->
    <div ng-view=""></div>
    <!-- </div> -->

    
    
    <footer>
    <section id="bottom-utility">
      <div class="inner clearfix">
        <h5>Customer Support</h5>
        <p>cs@exxonmobil.th | +66 135 1231 121 | Mon-Fri: 8:00-17:00</p>
        <div class="logos">
          <a target="_blank" href="http://www.exxonmobil.com">
            <img title="" alt="EXXON LOGO  LINK" src="assets/images/footer/footer1.png"> 
          </a>
          <a target="_blank" href="http://www.exxon.com/"> 
            <img title="" alt="EXXON LOGO LINK" src="assets/images/footer/footer2.png"> 
          </a>
          <a target="_blank" href="http://www.mobil.com/"> 
            <img title="" alt="MOBIL LOGO LINK" src="assets/images/footer/footer3.png"> 
          </a>
          <a target="_blank" href="http://www.esso.com/"> 
            <img title="" alt="ESSO LOGO LINK" src="assets/images/footer/footer4.png"> 
          </a>
          <a target="_blank" href="http://xtoenergy.com/">
            <img title="" alt="XTO LOGO LINK" src="/assets/images/footer/footer4.png"> 
          </a>
          <div class="related-companies"></div>
        </div>
        <div class="sub-footer-wrapper">
          <nav class="bottom-nav">
            <ul>
              <li><a target="_blank" href="http://corporate.exxonmobil.com/Accessibility">Accessibility</a></li>
              <li><a target="_blank" href="http://corporate.exxonmobil.com/privacy-policy">PrivacyPolicy</a></li>
              <li><a target="_blank" href="http://corporate.exxonmobil.com/terms-and-conditions">Terms&amp;Conditions</a></li>
            </ul>
          </nav>
          <div class="copyright">
            © Copyright 2003-2014 ExxonMobil Corporation. All Rights Reserved.
          </div>
        </div>
      </div>
    </section>
  </footer>
    </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
    <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- vendor scripts -->
    <script src="scripts/vendor/textAngular.min.js"></script>
    <script src="scripts/vendor/textAngular-rangy.min.js"></script>
    <script src="scripts/vendor/textAngular-sanitize.min.js"></script>
    <!-- Vendor scripts -->

    <!-- Custom component starts -->
    <!--<script src="scripts/sb-admin-2.js"></script>-->
    <!-- Custom component ends -->


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/properties.js"></script>
        <script src="scripts/services/acepropmanagerfactory.js"></script>
        <script src="scripts/filters/startfrom.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/services/userservice.js"></script>
        <script src="scripts/controllers/import.js"></script>
        <script src="scripts/controllers/addproperty.js"></script>
        <script src="scripts/controllers/global.js"></script>
        <script src="scripts/filters/modifieddate.js"></script>
        <script src="scripts/controllers/download.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/controllers/delete_property.js"></script>
        <script src="scripts/controllers/wiki.js"></script>
        <!-- endbuild -->
</body>
</html>
