<!doctype html>
<html ng-app="em">
  <head>
    <meta charset="utf-8">
    <title>ui</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="app/nv.d3.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="styles/theme.css">
    <link rel="stylesheet" type="text/css" href="styles/vendor.css">
    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-controller="styleguide">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	<div id="wrapper">
	<!-- Navbar Start -->
	<nav class="navbar navbar-default header-actions">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand"></a>
		  
		  <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ace-navbar" aria-expanded="false" aria-controls="navbar">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
		  </a>
		  <span class="header-icons">
			  <a class="nav-icon icon icon-home-menu"></a>
			  <a class="nav-icon icon icon-message-menu messages-tooltip"></a>
		  </span>
		</div>
		<div class="navbar-collapse collapse" id="ace-navbar">
		  <ul class="nav navbar-nav navbar-right">
			<li class="active separator nav-show-tablet">
				<a><i class="nav-icon icon icon-home-menu"></i></a>
			</li>
			<li><a>Orders</a></li>
			<li><a>Products</a></li>
			<li><a>Invoices</a></li>
			<li class="separator"><a>Support</a></li>
			<li class="reports-tooltip"><a>Reports</a></li>
			<li class="separator trigger-popover sold-to-tooltip" >
				<a>SoldTo [#23242]</a>
				
			</li>
			<li class="separator nav-show-tablet messages-tooltip">
				<a><i class="nav-icon icon icon-message-menu"></i></a>
			</li>
			<li class="separator">
				<a class="nav-show-tablet dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<i class="nav-icon icon icon-settings-menu"></i>
				</a>
				<a class="dropdown-toggle nav-hide-tablet"  data-toggle="dropdown" role="button" aria-expanded="false">Settings</a>
				<ul class="dropdown-menu settings-tooltip-content" role="menu">
					<li class="active"><a href="http://localhost:3000/styleguide.html">User Profile</a></li>
					<li><a href="http://localhost:3000/styleguide.html#">Manage Account</a></li>
				</ul>			
			</li>
			<li><a>Log out</a></li>
		  </ul>
	   </div>
	  </div>
	  <div class="nav-tooltip-content soldto-tooltip-content">
			<div>
				<h4>Change SoldTo Account -- {{items}}</h4>
				<p>Lorem Ipsum Dolor Sit amet</p>
				
				<div class="btn-group" role="group">
					<a class="btn btn-default " ng-click="openModal('lg')">
						<span class="icon icon-change">
							<label>Change</label>
						</span>
					</a>
					<a class="btn btn-default dismiss-popover" data-dismiss-popover=".nav-tooltip-content">
						<span class="icon icon-close">
							<label>Close</label>
						</span>
					</a>

				</div>
			</div>
	  </div>
	  <div class="reports-tooltip-content nav-tooltip-content" >
			<ul class="reports-container">
				<li class="icon icon-more" ng-click="openReports('lg')"><a href="javascript:void(0)">Order Change Report</a></li>
				<li class="icon icon-more" ng-click="openReports('lg')"><a href="javascript:void(0)">Surcharge & Waiver Report</a></li>
				
				
			</ul>
		</div>
	</nav>
	
	<!-- Navbar End -->
	
	<!-- Start Subnav -->
	<div class="sub-navbar"> 
		<h4>Invoices and Payments</h4>
		<div class="pull-right">
			<a class="btn btn-link">
				<span class="icon icon-more">
					<label class="hidden-xs hidden-sm">Create Order</label>
				</span>
			</a>
			<a class="btn btn-link">
				<span class="icon icon-manage-templates">
					<label class="hidden-xs hidden-sm">Manage Template</label>
				</span>
			</a>
		</div>
	</div>
	<!-- End Subnav -->
	
	<div class="alert-message active clearfix">   
		<i class="icon icon-alert-notification pull-left"></i>
		<i class="icon icon-close pull-right"></i>
		<h5>This is a sample alert message</h5>
	</div>

	<div class="row container styleguide">
		<div class="col-md-6">
			<h1>Headings</h1>
			<hr/>
			<h2>Shipping Header</h2>
			<h3><strong>872634823.50 USD - Total Amount</strong></h3>
			<h3>Page Title - Container Title</h3>
			<h4>Lubricants Catalog - Subnav Title</h4>
			<hr/>
			<h1>Buttons </h1>
			<hr/>
			<h3>CTA Buttons</h3>
			<div class="clearfix">
				<div class="col-sm-6">
					<p>Link Button</p>
					<a class="btn btn-link" href="#" role="button">
						<span class="icon icon-change">
							<label>Anchor</label>
						</span>
					</a>
				</div>
				<div class="col-sm-6">
					<p>Default Button</p>
					<button class="btn btn-default" type="submit">
						<span class="icon icon-change">
							<label>Change</label>
						</span>
					</button>
				</div>
			</div>
			<hr/>
			<div class="clearfix">
				<div class="col-sm-6">
					<p>Disabled Button</p>
					<button class="btn btn-default" type="submit" disabled="disabled">
						<span class="icon icon-change">
							<label>Change</label>
						</span>
					</button>
				</div>
				<div class="col-sm-6">
					<p>Active Button</p>
					<button class="btn btn-default active" type="submit">
						<span class="icon icon-change">
							<label>Change</label>
						</span>
					</button>
				</div>
			</div>
			<hr/>
			<h3>Icon buttons</h3>
			<button type="button" class="btn-default">
				<span class="icon icon-close"></span>
			</button>
			<button type="button" class="btn-default">
				<span class="icon icon-arrow-down"></span>
			</button>
			<button type="button" class="btn-default">
				<span class="icon icon-change"></span>
			</button>
			<hr/>
			<h3>Primary Block Button!</h3>
			<button type="button" class="btn btn-default">
				<span class="icon icon-change">
					<label>Block Level Button</label>
				</span>
			</button>
			<hr/>
			<h3>Block buttons!</h3>
			<button type="button" class="btn btn-default btn-block">
				<span class="icon icon-change">
					<label>Block Level Button</label>
				</span>
			</button>
			<hr/>
			<h3>Buttons Group</h3>
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default">
					<span class="icon icon-change">
						<label>Group 1</label>
					</span>
				</button>
				<button type="button" class="btn btn-default">
					<span class="icon icon-close">
						<label>Group 2</label>
					</span>
				</button>
				<button type="button" class="btn btn-default">
					<span class="icon icon-edit">
						<label>Group 3</label>
					</span>
				</button>
			</div>
			<hr/>
			<h3>Fluid Buttons Group</h3>
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default">
						<span class="icon icon-change">
							<label>Left</label>
						</span>
					</button>
				</div>
				<div class="btn-group" role="group">
				<button type="button" class="btn btn-default">
					<span class="icon icon-close">
						<label>Middle</label>
					</span>
				</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default">
						<span class="icon icon-edit">
							<label>Right</label>
						</span>
					</button>
				</div>
			</div>
			<hr/>
			<h3>Menu Dropdown</h3>
			<div class="overflow-list">
				<button class="btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="icon icon-arrow-down">
						<label>Menu Items</label>
					</span>
				</button>
				<ul class="dropdown-menu left">
					<li class="btn btn-default">
						<span class="icon icon-change">
							<label>Action Menu Item</label>
						</span>
					</li>
					<li class="btn btn-default">
						<span class="icon icon-change">
							<label>Action Menu Item</label>
						</span>
					</li>
				</ul>
			</div>
			<div class="overflow-list">
				<button class="btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="icon icon-arrow-down"></span>
				</button>
				<ul class="dropdown-menu left">
					<li class="btn btn-default">
						<span class="icon icon-change">
							<label>Action Menu Item 1</label>
						</span>
					</li>
					<li class="btn btn-default">
						<span class="icon icon-change">
							<label>Action Menu Item 2</label>
						</span>
					</li>
				</ul>
			</div>
			<hr/>
			<h3>Sort Dropdown</h3>
			<!-- Select Sort Dropdown Start -->
			<div class="overflow-list">
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="icon icon-sort-by">
						<label>Sort By</label>
					</span>
				</button>
				<ul class="dropdown-menu left">
					<li>
						<div class="radio-wrap">
							<input id="sort1" type="radio" name="radio" class="radio">
							<label for="sort1" class="radio-label">
								<i></i>
								<span>Option 1</span>
							</label>
						</div>
					</li>
					<li>
						<div class="radio-wrap">
							<input id="sort2" type="radio" name="radio" class="radio">
							<label for="sort2" class="radio-label">
								<i></i>
								<span>Option 1</span>
							</label>
						</div>
					</li>
				</ul>
			</div>
			<!-- Select Sort Dropdown End -->
			<!-- Dropdown Disabled Start -->
			<div class="overflow-list">
				<button class="btn btn-default dropdown-toggle" disabled="disabled" data-toggle="dropdown">
					<span class="icon icon-arrow-down">
						<label>Sort By</label>
					</span>
				</button>
				<ul class="dropdown-menu left">
					<li>
						<div class="radio-wrap">
							<input id="sort1" type="radio" name="radio" class="radio">
							<label for="sort1" class="radio-label">
								<i></i>
								<span>Option 1</span>
							</label>
						</div>
					</li>
					<li>
						<div class="radio-wrap">
							<input id="sort2" type="radio" name="radio" class="radio">
							<label for="sort2" class="radio-label">
								<i></i>
								<span>Option 1</span>
							</label>
						</div>
					</li>
				</ul>
			</div>
			<!-- Dropdown Disabled End -->
			<hr/>
			<button class="btn-default" ng-click="open('lg')">
				<span class="icon icon-arrow-down">
					<label>Open Overlay</label>
				</span>
			</button>
			<hr/>
			<h3> Stepper </h3>
			<div class="stepper-field" stepper-field stepper-value="stepperVal" palette="4" on-step-up="stepUp" on-step-down="stepDown">
				<button type="button" class="step-down" ng-click="stepDown()">
					<span class="icon icon-arrow-input-arabic"></span>
				</button>
				<input type="text" class="form-control" ng-model="stepperVal"/>
				<button type="button" class="step-up" ng-click="stepUp()">
					<span class="icon icon-arrow-input"></span>
				</button>
			</div>
			<h3> Popover </h3>
			<span class="link-popover trigger-popover" data-element="#link-popover">
				<a>Open Popover</a>
				<div class="popover-content" id="link-popover">
					<div>
						<h4>Change SoldTo Account</h4>
						<p>Lorem Ipsum Dolor Sit amet</p>
						
						<div class="btn-group" role="group">
							<a class="btn btn-default dismiss-popover" data-dismiss-popover="#link-popover">
								<span class="icon icon-change">
									<label>Change</label>
								</span>
							</a>
							<a class="btn btn-default dismiss-popover" data-dismiss-popover="#link-popover">
								<span class="icon icon-close">
									<label>Close</label>
								</span>
							</a>

						</div>
					</div>
				</div>
			</span>
		</div>
		<div class="col-md-6">
			<h1>Accordion </h1>
			<!-- Start Accordion -->
			<div class="accordion">
				<h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#filter1" aria-expanded="false" aria-controls="collapseExample">
					DEFAULT CLOSED
					<button class="accordion-icon">
						<span class="icon icon-dropdown"></span> 
					</button>
				</h5>
				<div class="accordion-content collapse" id="filter1">
					<ul> 
						<li>
							<div class="radio-wrap">
								<input id="docDate1" type="radio" name="docDate" class="radio">
								<label for="docDate1" class="radio-label">
									<i></i>
									<span>Option 1</span>
								</label>
							</div>
						</li>
						<li>
							<div class="radio-wrap">
								<input id="docDate2" type="radio" name="docDate" class="radio">
								<label for="docDate2" class="radio-label">
									<i></i>
									<span>Option 2</span>
								</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- End Accordion -->
			<!-- Start Accordion -->
			<div class="accordion">
				<h5 class="accordion-title" data-toggle="collapse" data-target="#filter2" aria-expanded="true" aria-controls="collapseExample">
					DEFAULT OPEN
					<button class="accordion-icon">
						<span class="icon icon-dropdown"></span> 
					</button>
				</h5>
				<div class="accordion-content collapse in" id="filter2">
					<ul> 
						<li>
							<div class="checkbox-wrap">
								<input id="checkbox1" type="checkbox" class="checkbox" name="checkbox1">
								<label for="checkbox1" class="checkbox-label">
									<i></i>
									<span>Option 1</span>
								</label>
							</div>
						</li>
						<li>
							<div class="checkbox-wrap">
								<input id="checkbox2" type="checkbox" class="checkbox" name="checkbox1">
								<label for="checkbox2" class="checkbox-label">
									<i></i>
									<span>Option 3</span>
								</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- End Accordion -->
			<!-- Start Accordion -->
			<div class="accordion">
				<h5 class="accordion-title">
					FILTER ACCORDION
					<div class="btn-group accordion-actions">
						<button type="button" class="btn btn-default">
							<span class="icon icon-close">
								<label>Reset All</label>
							</span>
						</button>
						<button type="button" class="accordion-icon"  data-toggle="collapse" data-target="#filter3" aria-expanded="true">
							<span class="icon icon-dropdown"></span> 
						</button>
					</div>
				</h5>
				<div class="accordion-content collapse in" id="filter3">
					<ul> 
						<li>
							<div class="checkbox-wrap">
								<input id="checkbox3" type="checkbox" class="checkbox" name="checkbox2">
								<label for="checkbox3" class="checkbox-label">
									<i></i>
									<span>Option 1</span>
								</label>
							</div>
						</li>
						<li>
							<div class="checkbox-wrap">
								<input id="checkbox4" type="checkbox" class="checkbox" name="checkbox2">
								<label for="checkbox4" class="checkbox-label">
									<i></i>
									<span>Option 3</span>
								</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- End Accordion -->
			<h1>Form Elements </h2>
			<hr/>
			<h3>CheckBox Group</h3>
			<hr/>
			<ul> 
				<li>
					<div class="checkbox-wrap">
						<input id="checkbox5" type="checkbox" class="checkbox" name="checkbox">
						<label for="checkbox5" class="checkbox-label">
							<i></i>
							<span>Option 1</span>
						</label>
					</div>
				</li>
				<li>
					<div class="checkbox-wrap">
						<input id="checkbox6" type="checkbox" class="checkbox" name="checkbox">
						<label for="checkbox6" class="checkbox-label">
							<i></i>
							<span>Option 3</span>
						</label>
					</div>
				</li>
			</ul>
			<h3>Radio Group</h3>
			<hr/>
			<ul> 
				<li>
					<div class="radio-wrap">
						<input id="radio1" type="radio" name="radio" class="radio">
						<label for="radio1" class="radio-label">
							<i></i>
							<span>Option 1</span>
						</label>
					</div>
				</li>
				<li>
					<div class="radio-wrap">
						<input id="radio2" type="radio" name="radio" class="radio">
						<label for="radio2" class="radio-label">
							<i></i>
							<span>Option 2</span>
						</label>
					</div>
				</li>
			</ul>
		
			<h3>Search Field</h3>
			<hr/>
			<div class="search-field">
				<input type="text" class="form-control" placeholder="Search By ...">
				<button class="icon-search btn-default">
					<span class="icon icon-search-bar"></span>
				</button>
			</div>
			<h3>Form Fields</h3>
			<hr/>
			<form role="form" id="myForm" data-toggle="validator">
				<h4 class="input-title">Input Field</h4>
				<div class="form-group">
					<input name="ship-to" type="text" placeholder="Enter ship-to name, number or address" data-validation="required" class="form-control">
				</div>
				<h4 class="input-title">Email</h4>
				<div class="form-group">
					<input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Email address is invalid" required>
					<div class="help-block with-errors"></div>
				</div>
				<h4 class="input-title">Password</h4>
				<div class="form-group row">
					<div class="col-sm-6">
					  <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
					  <span class="help-block">Minimum of 6 characters</span>
					</div>
					<div class="col-sm-6">
					  <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
					  <div class="help-block with-errors"></div>
					</div>
				</div>
				<h4 class="input-title">Textarea</h4>
				<div class="form-group">
					<textarea class="form-control" data-error="This is a mandatory field." required></textarea>
					<div class="help-block with-errors"></div>
				</div>
				<h4 class="input-title">Toggle Switch</h4>
				<!-- Standard Toggle Button -->
				<div class="segmented-controller">
					<button class="active">Pick-up</button>
					<button class="">Delivery</button>
				</div>
				<!-- Standard Toggle Button -->  
				<!-- below text is otional. -->
				<h4>Simple Drop down </h4>
				<div class="custom-dropdown row-padding">
					<input name="ship-to" type="text"  readonly="readonly" placeholder="Enter ship-to name, number or address" data-validation="required" class="form-control">
					<i class="arrow dropdown-toggle" data-toggle="dropdown" aria-expanded="true"></i>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><a role="menuitem" >Action</a></li>
						<li role="presentation"><a role="menuitem" >Another action</a></li>
						<li role="presentation"><a role="menuitem" >Something else here</a></li>
						<li role="presentation"><a role="menuitem" >Separated link</a></li>
					</ul>
				</div>
				<!-- below text is otional. -->
				<h4>Editable Dropdown </h4>
				<div class="custom-dropdown">
					<input name="ship-to" type="text" placeholder="Enter ship-to name, number or address" data-validation="required" class="form-control hasclear">
					<i class="clearer clear-all"></i>
					<i class="arrow dropdown-toggle" data-toggle="dropdown" aria-expanded="true"></i>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><a role="menuitem" >Action</a></li>
						<li role="presentation"><a role="menuitem" >Another action</a></li>
						<li role="presentation"><a role="menuitem" >Something else here</a></li>
						<li role="presentation"><a role="menuitem" >Separated link</a></li>
					</ul>
				</div> 
				<!-- below text is otional. -->
				<h4>Disabled Dropdown</h4>
				<div class="custom-dropdown disabled">
					<input name="ship-to" type="text" disabled placeholder="Enter ship-to name, number or address" data-validation="required" class="form-control">
					<i class="arrow dropdown-toggle" data-toggle="dropdown" aria-expanded="true"></i>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><a role="menuitem" >Action</a></li>
						<li role="presentation"><a role="menuitem" >Another action</a></li>
						<li role="presentation"><a role="menuitem" >Something else here</a></li>
						<li role="presentation"><a role="menuitem" >Separated link</a></li>
					</ul>
				</div>
				<h4>Auto Suggest </h4>
				<div class="custom-dropdown">
					<input name="ship-to" type="text" searchType="typeahead" placeholder="Enter ship-to name, number or address" data-validation="required" class="form-control dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<a role="menuitem" >
							<h4 class="">MOBIL 1 5W-30 2X5.1QT</h4>
							<h6 class="">Lead time: 3 days | Plant code: ZH3I135504 | Package</h6> 
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" >
							<h4 class="">MOBIL 1 5W-30 2X5.1QT</h4>
							<h6 class="">Lead time: 3 days | Plant code: ZH3I135504 | Package</h6> 
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" >
							<h4 class="">MOBIL 1 5W-30 2X5.1QT</h4>
							<h6 class="">Lead time: 3 days | Plant code: ZH3I135504 | Package</h6> 
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" >
							<h4 class="">MOBIL 1 5W-30 2X5.1QT</h4>
							<h6 class="">Lead time: 3 days | Plant code: ZH3I 135504 | Package</h6>  
							</a>
						</li>
					</ul>
				</div> 
			</form>
		</div>
	</div>

	<!-- SALES GRAPH -->
	<div class="graph-container">
		<div class="row">
			<div class="col-sm-9">
				<nvd3 options='options' data='salesData'></nvd3>
			</div>
			<div class="col-sm-3">
				<h4><strong>FILTERS</strong></h4>
				<!-- Start Accordion -->
				<div class="accordion">
					<h5 class="accordion-title">
						SELECT MONTH
						<div class="btn-group accordion-actions">
							<button type="button" class="accordion-icon"  data-toggle="collapse" data-target="#filter3" aria-expanded="true">
								<span class="icon icon-dropdown"></span> 
							</button>
						</div>
					</h5>
					<div class="accordion-content collapse in" id="filter3">
						
						<div class="custom-dropdown ">
							<input type="text" class="form-control" ng-model="selectedMonth.month">
							<i class="arrow dropdown-toggle" data-toggle="dropdown" aria-expanded="true"></i>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation" ng-repeat="opt in months" ng-click="switchMonth(opt)">
									<a ng-bind="opt.month"></a>
								</li>
							</ul>
						</div>
						<div class="switch-legend">
							<ul> 
								<li ng-repeat="prod in products">
									<span class="legend-indicator" ng-style="{background:prod.color}"></span>
									<div class="checkbox-wrap">
										<input id="selectProduct[{{$index}}]" d3-custom-legend=".nv-series:eq({{$index}})" type="checkbox" name="chartLegend" class="checkbox" checked="checked">
										<label for="selectProduct[{{$index}}]" class="checkbox-label">
											<i></i>
											<span ng-bind="prod.name"></span>
										</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- End Accordion -->
			</div>
		</div>
	</div>
	<!-- SALES GRAPH -->
	

	<footer>
		<section id="bottom-utility">
			<div class="inner clearfix">
				<h5>Customer Support</h5>
				<p>cs@exxonmobil.th | +66 135 1231 121 | Mon-Fri: 8:00-17:00</p>
				<div class="logos">
					<a target="_blank" href="http://www.exxonmobil.com">
						<img title="" alt="EXXON LOGO  LINK" src="assets/images/footer/footer1.png"> 
					</a>
					<a target="_blank" href="http://www.exxon.com/"> 
						<img title="" alt="EXXON LOGO LINK" src="assets/images/footer/footer2.png"> 
					</a>
					<a target="_blank" href="http://www.mobil.com/"> 
						<img title="" alt="MOBIL LOGO LINK" src="assets/images/footer/footer3.png"> 
					</a>
					<a target="_blank" href="http://www.esso.com/"> 
						<img title="" alt="ESSO LOGO LINK" src="assets/images/footer/footer4.png"> 
					</a>
					<a target="_blank" href="http://xtoenergy.com/">
						<img title="" alt="XTO LOGO LINK" src="/assets/images/footer/footer4.png"> 
					</a>
				  <div class="related-companies"></div>
				</div>
				<div class="sub-footer-wrapper">
					<nav class="bottom-nav">
						<ul>
							<li><a target="_blank" href="http://corporate.exxonmobil.com/Accessibility">Accessibility</a></li>
							<li><a target="_blank" href="http://corporate.exxonmobil.com/privacy-policy">PrivacyPolicy</a></li>
							<li><a target="_blank" href="http://corporate.exxonmobil.com/terms-and-conditions">Terms&amp;Conditions</a></li>
						</ul>
					</nav>
					<div class="copyright">
						© Copyright 2003-2014 ExxonMobil Corporation. All Rights Reserved.
					</div>
				</div>
			</div>
		</section>
	</footer>
</div>
  
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->
	<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
	<script src="app/js/common.js"></script>
  </body>
</html>

